:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1904px;
  height: 1488px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}
.darkmode-false {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 863px;
  height: 1448px;
  top: 20px;
  left: 20px;
  padding: 32px 32px 32px 32px;
  background: #ffffff;
  border-radius: 8px;
}
.heading {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 238px;
  z-index: 1;
}
.general-information {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #0d1a26;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 3;
}
.name-of-the-pet {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 5;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 6;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 24px;
  padding: 0 0 0 0;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 7;
  overflow: hidden;
}
.text-field-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 8;
}
.type-of-the-pet {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.input-group-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.input-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 11;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-4 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.text-field-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 13;
}
.breed-species-of-the-pet {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.input-group-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 15;
  overflow: hidden;
}
.input-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 16;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-8 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.input-9 {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 18;
  outline: none;
}
.text-field-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 19;
}
.age-of-the-pet {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.input-group-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 21;
  overflow: hidden;
}
.input-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 22;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-d {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.input-e {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 24;
  outline: none;
}
.text-field-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 25;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.input-group-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 27;
  overflow: hidden;
}
.input-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 28;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-12 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.input-13 {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 30;
  outline: none;
}
.select-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 31;
}
.label-14 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.input-group-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 33;
  overflow: hidden;
}
.input-16 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 34;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-17 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../assets/images/d06ab605-6e44-4cc9-b3dd-e937a8c14158.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  overflow: hidden;
}
.input-18 {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 37;
  outline: none;
}
.heading-19 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 84px;
  z-index: 38;
}
.label-1a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #0d1a26;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.select-field-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 40;
}
.label-1c {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.input-group-1d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 42;
  overflow: hidden;
}
.input-1e {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 43;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-1f {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.icon-20 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../assets/images/1359a106-2aaf-4b17-87af-4ab3ba8f69b3.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
  overflow: hidden;
}
.input-21 {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 46;
  outline: none;
}
.text-field-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 47;
}
.label-23 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 49;
}
.input-24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 50;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-25 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.text-field-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 52;
}
.label-27 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.input-group-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 54;
  overflow: hidden;
}
.input-29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 55;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-2a {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.input-2b {
  flex-shrink: 0;
  position: absolute;
  width: 799px;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 57;
  outline: none;
}
.text-area-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 58;
}
.label-2c {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #304050;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.input-group-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 106px;
  z-index: 60;
}
.input-2e {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 61;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 767px;
  height: 96px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 62;
}

.group {
  flex-shrink: 0;
  position: relative;
  width: 180px;
  height: 180px;
  z-index: 63;
}

.group-30 {
  position: relative;
  width: 45px;
  height: 65px;
  margin: 57px 0 0 67px;
  z-index: 65;
  overflow: visible auto;
}
.vector {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 0 0 0;
  background: url(../assets/images/80524e33-8ad2-46ab-b43d-b7fbc3c56e2c.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
}
.images {
  display: block;
  position: relative;
  height: 20px;
  margin: 0 0 0 2px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.rectangle {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 0;
  left: 0;
  background: #eff0f0;
  z-index: 64;
}
.button-31 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  background: #047d95;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 68;
  border-radius: 4px;
}
.label-32 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 863px;
  height: 1448px;
  top: 20px;
  left: 1041px;
  padding: 32px 32px 32px 32px;
  background: #2c3135;
  z-index: 70;
  border-radius: 8px;
}
.heading-33 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 238px;
  z-index: 71;
}
.label-34 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #fafafa;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.text-field-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 73;
}
.label-36 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.input-group-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 75;
}
.input-38 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 76;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-39 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.text-field-3a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 78;
}
.label-3b {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.input-group-3c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 80;
}
.input-3d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 81;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-text {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.text-field-3e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 83;
}
.label-text {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.input-group-3f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 85;
}
.input-40 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 86;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-text-41 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.text-field-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 88;
}
.label-text-43 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 89;
}
.input-group-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 90;
}
.input-45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 91;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-text-46 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.text-field-47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 93;
}
.label-text-48 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.input-group-49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 95;
}
.input-4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 96;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-text-4b {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.select-field-4c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 98;
}
.label-text-4d {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.input-group-4e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 100;
}
.input-4f {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 101;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-text-50 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.lock-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../assets/images/94ab772a-cb06-4463-9066-a7ca6a73fbd0.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  overflow: hidden;
}
.heading-51 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 84px;
  z-index: 104;
}
.label-text-52 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #fafafa;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.select-field-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 106;
}
.spaying-neutering {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.input-group-54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 108;
}
.input-55 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 109;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-56 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.lock-icon-57 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../assets/images/eb791467-d817-4a88-8faa-3ad7d3fd2b11.png)
    no-repeat center;
  background-size: cover;
  z-index: 111;
  overflow: hidden;
}
.text-field-58 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 112;
}
.health-status {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 113;
}
.input-group-59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 114;
}
.input-5a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 115;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-5b {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.text-field-5c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 117;
}
.allergies {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.input-group-5d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 119;
}
.input-5e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 120;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-5f {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.text-area-field-60 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 122;
}
.detailed-information {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #eff0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 123;
}
.input-group-61 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 106px;
  z-index: 124;
}
.input-62 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  padding: 8px 16px 8px 16px;
  border: 1px solid #aeb3b7;
  z-index: 125;
  border-radius: 4px;
  box-sizing: content-box;
}
.placeholder-63 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 767px;
  height: 96px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 126;
}
.group-64 {
  flex-shrink: 0;
  position: relative;
  width: 180px;
  height: 180px;
  z-index: 127;
}
.group-65 {
  position: relative;
  width: 45px;
  height: 65px;
  margin: 57px 0 0 67px;
  z-index: 129;
  overflow: visible auto;
}
.vector-66 {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 0 0 0;
  background: url(../assets/images/7f4b25a3-aad5-49ad-819a-28c6304d7571.png)
    no-repeat center;
  background-size: cover;
  z-index: 131;
}
.images-67 {
  display: block;
  position: relative;
  height: 20px;
  margin: 0 0 0 2px;
  color: #aeb3b7;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.rectangle-68 {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 0;
  left: 0;
  background: #4b4e51;
  z-index: 128;
}
.button-69 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  background: #047d95;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 132;
  border-radius: 4px;
}
.send-message {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 133;
}
